{% extends 'common/base.html' %}

{% block content %}
    <h2>Edit Event</h2>
    <div class="universal-container-box">
        <form method="post">
        {% csrf_token %}
            <div class="form-grid">
                {% for field in form %}
                    <div class="form-group {% if forloop.last and not forloop.counter|divisibleby:2 %}full-width{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <button type="submit">Edit Event</button>
        </form>
    </div>
{% endblock %}
